.todoList {
    padding: 2rem 0;
}
.todoList__layout{
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
}
@media (max-width: 1500px) {
    .todoList__layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .todoList__layout{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 375px) {
    .todoList__layout{
        grid-template-columns: 1fr;
    }
}