@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa;
}

.addButton {
  color: white;
  margin-top:2rem !important;
  background-color: #5a4ee5 !important;
  text-transform: capitalize !important;
}

.no-content {
  display: flex;
  padding: 2rem;
  justify-content: center;
  color: #bec1c5;
  font-weight: 400;
  font-size: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin: 0.5rem 0 0.313rem;
}
input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  border-radius: 3px;
  min-height: 40px;
}

input:focus,
textarea:focus {
  outline: none;
} 
