.header {
    background-color: #d5e1ed !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
  }

  .header_logo {
    color: #5A4EE5;
  }